:root{
    --night-color: linear-gradient(180deg, #686AC5 0%, #232447 100%);
    --cloudy-color: linear-gradient(180deg, #808184 0%, #323234 100%);
    --favorite-cloudy: #565659;
    --favorite-night: #232447;
    --favorite-day: #E7A005;
    --day-card: #E1A011;
    --night-card: #5557A4;
    --cloudy-card: #7A7A7D;
}

body{
    background-image: linear-gradient(to bottom left, #F3D99F , #E7A005);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Search Bar */

.search-bar{
    width: 450px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 280px;
}



/* Weather */

.forecast-card-day{
    width: 918px;
    height: 591px;
    background-color: var(--day-card);
    margin-top: -770px;
    margin-left: 411px;

}

.forecast-card-night{
    width: 918px;
    height: 591px;
    background-color: var(--night-card);
    margin-top: -770px;
    margin-left: 411px;
}

.forecast-card-cloudy{
    width: 918px;
    height: 591px;
    background-color: var(--cloudy-card);
    margin-top: -770px;
    margin-left: 411px;
}

.weather-margin{
    margin-top: 70px;
}

.degrees-style{
    font-size: 120px;
    font-weight: 700;
}
.high-low-style{
    font-size: 48px;
    font-weight: 600;
}

.five-day-card{
    width: 673px;
    height: 73px;
    margin-top: 35px;
    margin-left: 150px;
}

.weather-icons{
    height: 30px;
    width: 30px;
}

::placeholder{
    color: black;
    font-weight: 600;
}

/* Favorites */ 

.favorites-bg-day{
    background-color: var(--favorite-day);
    width: 300px;
    height: 1024px;
    margin-top: -60px;
}

.favorites-bg-night{
    background-color: var(--favorite-night);
    width: 300px;
    height: 1024px;
    margin-top: -60px;
}

.favorites-bg-cloudy{
    background-color: var(--favorite-cloudy);
    width: 300px;
    height: 1024px;
    margin-top: -60px;
}

.favorite-padding{
    padding-top: 30px;
}

.add-to-favs-text{
    font-size: 16px;
    font-weight: 700;
}

.weather-text{
    font-size: 48px;
    font-weight: 700;
}

.date-time-text{
    font-size: 16px;
    font-weight: 800;
}


